@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="post col-md-6">
        <h2 class="title">
          Title
        </h2>
        <div class="Description">Description Description</div>
        <div class="Deadline1" name="deadline1">Deadline1 Deadline1</div>
        <div class="Deadline2" name="deadline2">Deadline2 Deadline2</div>
        <div class="body">
            <button type="button" class="btn btn-success bi bi-hand-thumbs-up-fill">
                Like
            </button>
            <button type="button" class="btn btn-danger bi bi-hand-thumbs-down-fill">
                Dislike
            </button>
            <div class="export-buttons">
                <button type="button" class="export-btn"
                        onclick="window.location.href='@Url.Action("ExportZip")'">
                    Export Zip
                </button>

                <button type="button" class="export-btn" onclick="window.location.href =
        '@Url.Action("ExportExccel")'">
                    Export Excel
                </button>

            </div>
        </div>
    </div>
</div>